// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Variables personalizadas
$primary: #ff6600; // Naranja
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;

// Bootstrap
@import 'bootstrap/scss/bootstrap';
